APP_NAME=pesapp
SERVER_PORT=8080

DB_URL=jdbc:mysql://localhost:3306/pesapp?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Europe/Madrid
DB_USERNAME=root
DB_PASSWORD=
DB_DRIVER=com.mysql.cj.jdbc.Driver
JPA_DDL_AUTO=update
JPA_SHOW_SQL=false
JPA_FORMAT_SQL=false

CORS_ALLOWED_ORIGINS=http://localhost:5173
CORS_ALLOWED_METHODS=GET,POST,PUT,PATCH,DELETE,OPTIONS
CORS_ALLOWED_HEADERS=Authorization,Content-Type,Accept,Origin
CORS_ALLOW_CREDENTIALS=true

JWT_SECRET=replace_with_at_least_32_chars_random_secret
JWT_EXPIRATION=900000
JWT_ISSUER=pesapp
AUTH_ACCESS_COOKIE_NAME=pesapp_access_token
AUTH_REFRESH_COOKIE_NAME=pesapp_refresh_token
AUTH_REFRESH_TOKEN_EXPIRATION=2592000000
AUTH_COOKIE_SECURE=false
AUTH_COOKIE_SAME_SITE=Lax
AUTH_COOKIE_DOMAIN=

DATA_INITIALIZER_ENABLED=true
DEFAULT_USER_NAME=Bryan
DEFAULT_USER_EMAIL=admin@pesapp.local
DEFAULT_USER_PASSWORD=ChangeMe123!
DEFAULT_USER_ROLE=ADMIN
